<div class="form-group">
  <div class="row">
    <div class="col">
      <label for="datepicker">Дата записи</label>
      <div class="input-group">
        <input
          class="form-control"
          placeholder="ДД.ММ.ГГГГ"
          id="datepicker"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker #d="ngbDatepicker"
        >
        <button class="input-group-addon" (click)="d.toggle()" type="button">
          <img src="assets/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
        </button>
      </div>
    </div>
  </div>
</div>
