<div class="form-group">
  <div class="row">
    <div class="col">
      <label for="patients">Пациент:</label>
      <input
        id="patients"
        type="text"
        class="form-control"
        *ngIf="!(model && model.name)"
        [(ngModel)]="model"
        [ngbTypeahead]="search"
        [inputFormatter]="formatter"
        [resultFormatter]="formatter"
        placeholder="Введите текст для поиска"
      />
    </div>
    <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-success" id="dropdown" ngbDropdownToggle [disabled]="!(model && model.name)">Toggle</button>
          <div ngbDropdownMenu aria-labelledby="dropdown">
            <button class="dropdown-item" (click)="finish()">Завершить работу с пациентом</button>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="searchResult" *ngIf="model && model.name">
  <div>{{ model.name }}</div>
  <div>{{ model.birthDate }} г.р.</div>
  <div>Полис ОМС: {{ model.policy }}</div>
</div>
